.top-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.top-modal.show {
    display: block;
}

.top-modal >.top-dialog {
    width: 100%;
    background-color: white
    animation-timing-function: ease-in-out
    animation-duration: 0.3s
}

.top-modal.show >.top-dialog {
    min-height: 200rpx
}